* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app {
    border: 2px solid #FFFFFF;
    background-image: url(../images/aybeer_2.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50% auto;
}
#controls {
    display: flex;
}
#controls > div {
    border: 4px solid #CCCCCC;
    display: none;
    flex: 1;
    font-size: 25px;
    font-weight: bold;
}

.control-btn {
    background-color: #AAAAAA;
    height: 70px;
}
#left {
    background-image: url(../images/left.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 45%;
}

#right {
    background-image: url(../images/right.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 45%;
}

#play {
    background-image: url(../images/play.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 45%;
}

@media (max-width: 768px) {
    #controls > div  {
        display: block;
    }
}